@import "breakpoints";
@import "colors";
@import "fonts";
@import "resets";

:root {
	--default-inline-padding: 1em;

	--transition-speed-normal: 500ms;
	--transition-speed-fast: 250ms;
}

.viewport-checker {
	display: grid;
	place-content: center;
	min-height: 100vh;

	& .container {
		width: 90%;
		max-width: 500px;
		margin-inline: auto;
	}

	& h1 {
		color: var(--clr-text-dark-title-primary);
		font-size: var(--fs-700);
		line-height: 1.2;
	}

	& p {
		color: var(--clr-text-dark-primary);
		font-size: var(--fs-400);
		margin-block: 1.3em;
		line-height: 1.7;
	}

	@include mediaQuery(xsm) {
		display: none;
	}
}

.btn-solid,
.btn-hollow {
	text-decoration: none;
	cursor: pointer;
	border-radius: 0.9em;
	display: inline-block;
}

.btn-solid {
	background-color: var(--clr-primary-title);
	color: var(--clr-body);
	padding: 0.9em 1.6em;
	border: 1px solid var(--clr-primary-title);
	transition: background-color var(--transition-speed-normal) ease,
		color var(--transition-speed-normal) ease,
		border var(--transition-speed-normal) ease;

	&:hover {
		background-color: transparent;
		color: var(--clr-primary-title);
		border: 1px solid var(--clr-primary-title);
	}

	@include mediaQuery(med) {
		font-size: var(--fs-200);
		padding: 0.8em 2em;
	}

	@include mediaQuery(lrg) {
		font-size: var(--fs-300);
	}
}

.btn-hollow {
	color: var(--clr-primary);
	padding: 0.9em 1.6em;
	width: 90%;
	margin-inline: auto;
	border: 1px solid var(--clr-primary-title);

	transition: background-color var(--transition-speed-normal) ease,
		color var(--transition-speed-normal) ease;

	@include mediaQuery(med) {
		width: 100%;
		margin-inline: unset;
	}

	&:hover {
		background-color: var(--clr-primary-title);
		color: var(--clr-body);
	}

	@include mediaQuery(med) {
		font-size: var(--fs-200);
		padding: 0.8em 2em;
	}

	@include mediaQuery(lrg) {
		font-size: var(--fs-300);
	}
}

body {
	background-color: var(--clr-body);
	color: var(--clr-primary);
	font-family: var(--ff-primary);
	font-weight: 400;
}

.header {
	display: none;

	@include mediaQuery(xsm) {
		display: block;
	}
}

.main {
	display: none;

	@include mediaQuery(xsm) {
		display: block;
	}
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 1.3em var(--default-inline-padding);

	@include mediaQuery(med) {
		padding: 1.3em 0;
		width: 95%;
		max-width: 1200px;
		margin-inline: auto;
	}

	&-desktop {
		display: none;

		@include mediaQuery(med) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 1em;

			width: 100%;
			margin-inline-start: 2em;
		}
	}

	&__primary,
	&__secondary {
		display: flex;
		flex-direction: column;
		gap: 1.2em;

		@include mediaQuery(med) {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: 2em;
		}

		@include mediaQuery(lrg) {
			gap: 3em;
		}
	}

	&__primary {
		margin-block-start: 3em;

		@include mediaQuery(med) {
			margin-block-start: 0;
		}
	}

	&__secondary {
		margin-block-start: 1em;
		text-align: center;

		@include mediaQuery(med) {
			margin-block-start: 0;
			text-align: start;
		}
	}

	&__link {
		position: relative;
		background: none;
		border: none;
		padding: 0;
		margin: 0;
		text-decoration: none;
		font-family: inherit;
		color: var(--clr-primary);
		cursor: pointer;

		@include mediaQuery(med) {
			position: unset;
		}

		&:hover {
			color: var(--clr-primary-title);
		}

		&[with-arrow]::after {
			content: url("../images/icon-arrow-down.svg");
			position: absolute;
			right: -24px;
			top: -3%;
			transform: rotate(0);
			transition: transform var(--transition-speed-normal) ease;

			@include mediaQuery(med) {
				right: -14px;
			}
		}
	}

	// This is to make the link stay in color to primary title
	// when the link is clicked or focused

	.dropdown.active > .nav__link {
		color: var(--clr-primary-title);
	}

	.dropdown.active > .nav__link[with-arrow]::after {
		transform: rotate(180deg);
	}

	.dropdown {
		position: relative;

		&__menu {
			opacity: 0;
			pointer-events: none;
			max-height: 0;
			transition: opacity var(--transition-speed-normal) ease,
				max-height var(--transition-speed-normal) ease;

			@include mediaQuery(med) {
				position: absolute;
				left: 0;
				top: calc(100% + 0.25rem);
				background-color: white;
				padding: 0.75em;
				border-radius: 0.25em;
				box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);

				transform: translateY(-10px);
				transition: opacity var(--transition-speed-fast) ease-in-out,
					transform var(--transition-speed-fast) ease-in-out,
					max-height var(--transition-speed-fast) ease-in-out;
			}
		}
	}

	.dropdown.active > .nav__link + .dropdown__menu {
		opacity: 1;
		pointer-events: auto;
		max-height: 120px;
		@include mediaQuery(med) {
			transform: translateY(0);
			max-height: 500px;
		}
	}

	.dropdown__menu {
		width: 90%;
		margin-inline: 1em;

		@include mediaQuery(med) {
			width: 130px;
			margin-inline: 0em;
		}
		&--list {
			list-style: none;
			margin: 0;
			padding: 0;
			font-size: var(--fs-200);
		}

		&--item {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 1em;
			padding: 0.4em;
		}

		&--link {
			color: var(--clr-primary);
			text-decoration: none;

			&:hover {
				color: var(--clr-primary-title);
			}
		}
	}
}

.hamburger-container {
	@include mediaQuery(med) {
		display: none;
	}
}

.hamburger__icon {
	margin-left: auto;
	cursor: pointer;
	z-index: 99;
	position: relative;

	display: grid;
	grid-template-columns: 1fr;
	place-items: center;

	& > * {
		grid-column: 1 / 2;
		grid-row: 1 / 3;
	}
}

.hamburger__icon.active ~ .hamburger__menu {
	opacity: 1;
	pointer-events: auto;
}

.hamburger__icon .hamburger__icon-open {
	opacity: 1;
	pointer-events: auto;
}

.hamburger__icon.active .hamburger__icon-open {
	opacity: 0;
	pointer-events: none;
}

.hamburger__icon .hamburger__icon-close {
	opacity: 0;
	pointer-events: none;
}

.hamburger__icon.active .hamburger__icon-close {
	opacity: 1;
	pointer-events: auto;
}

.hamburger__menu {
	padding: 1.3em var(--default-inline-padding);
	background-color: var(--clr-body);
	height: 100%;
	width: 65%;

	position: absolute;
	top: 0;
	right: 0;

	display: flex;
	flex-direction: column;
	gap: 2em;

	opacity: 0;
	pointer-events: none;

	transition: opacity var(--transition-speed-normal) ease;
}

// Hero section

.hero {
	@include mediaQuery(med) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		justify-content: space-between;
		grid-auto-columns: 1fr;
		height: 70vh;
		width: 90%;
		max-width: 1200px;
		margin-inline: auto;
		// border: 1px solid red;
	}

	@include mediaQuery(lrg) {
		width: 95%;
		height: 100vh;
	}

	&__img {
		@include mediaQuery(med) {
			order: 2;
		}

		img[mobile] {
			display: block;
			width: 100%;
			object-fit: cover;

			@include mediaQuery(med) {
				display: none;
			}
		}

		img[desktop] {
			display: none;

			@include mediaQuery(med) {
				display: block;
				width: 100%;
				max-width: 600px;
				object-fit: cover;
			}
		}
	}

	&__content {
		@include mediaQuery(med) {
			display: flex;
			justify-content: center;
		}
		&-container {
			text-align: center;
			margin-block-start: 2.3em;
			padding-inline: var(--default-inline-padding);

			display: flex;
			flex-direction: column;
			gap: 1em;

			@include mediaQuery(med) {
				text-align: start;
				margin-block-start: 0;
				margin-inline: var(--default-inline-padding) + 2rem;
				padding-inline: 0;
				width: 90%;
				max-width: 400px;
			}

			@include mediaQuery(lrg) {
				max-width: 450px;
			}
		}
	}

	&__title {
		color: var(--clr-primary-title);
		font-size: var(--fs-700);

		@include mediaQuery(med) {
			line-height: 1.1;
			font-size: var(--fs-700);
		}

		@include mediaQuery(lrg) {
			line-height: 1;
			font-size: var(--fs-900);
		}
	}

	&__desc {
		line-height: 1.8;
		@include mediaQuery(med) {
			font-size: var(--fs-200);
		}

		@include mediaQuery(lrg) {
			font-size: var(--fs-300);
		}
	}

	&__icons {
		margin-block: 1.3em;
	}

	&__icons-list {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		gap: 2em;
		justify-content: space-between;
		align-items: center;
	}
}
